vectors.exe
nestedVectors.exe
pairs.exe
main.exe
adv_iterators.exe
map_ques.exe 
main.exe
ques.exe
unordered.exe
balanced.exe
nge.exe
hbt.exe
saa.exe
stackSort.exe
delMidStack.exe
reverseStack.exe
kthsymbol.exe
towerOfhanoi.exe
reverse.exe
palindrome.exe
validPalindrome.exe
countVowelConso.exe
removeDup.exe
substring.exe 
anagram.exe
mostFreq.exe 
subset.exe
uniqueSubset.exe
permutationSpaces.exe
permutationCase.exe 
letterCasePermutation.exe 
balancedPara.exe
Nbinarynumbers.exe
josephusProblem.exe
subarrayMax.exe
firstvenum.exe
anagramOccurrences.exe
maxElementSubaary.exe
longestSubSum.exe
minimumSubSum.exe
longestChara.exe
allUnique.exe
strstr.exe
toys.exe
minimumSubstring.exe
recursiveKnapsack.exe
subsetProblem.exe
memoKnapsack.exe
equalPartition.exe
top_down.exe
countSubset.exe
minimumSubsetSum.exe
countSubsetDiffSum.exe
rod_cutting.exe
coin_change1.exe
coin_change2.exe
lcs_recursion.exe 
lcs_memo.exe 
lcs_td.exe
lcs_substring.exe
lcs_subsequence.exe
supersequence.exe
insertion_deletion.exe
lcs_palindrome.exe 
min_deletion_palindrome.exe
print_SCS.exe
longest_repeating.exe
pattern_matching.exe
min_insertion.exe